<button (click)="retrieveAll()">Retrieve all users</button>

<div>
  <div  *ngIf="users != undefined" style="display:inline-block;width:20%;vertical-align:top">
    Users list (click on user to get details)<br />
    <ul>
      <li *ngFor="let user of users" (click)="getDetails(user.userId)">{{user.firstname}} {{user.name}}</li>
    </ul>
  </div>


  <div  *ngIf="user != undefined" style="display:inline-block;width:50%;vertical-align:top">
    User details<br />
    Firstname: {{ user.firstname}}<br />
    Lastname: {{ user.lastname}}<br />
    Email: {{ user.email}}<br />
  </div>
</div>
